@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 100%; /* ocupa toda a largura disponível */
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#inicio {
  background-image: url('src/assets/img-fundo-apresentacao.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#contato {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.lista-desenvolvedores {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.lista-desenvolvedores li {
  margin: 5px 0;
}

.insta a {
  text-decoration: none;
  color: #c13584; /* cor do Instagram */
  font-weight: bold;
}

.letra-verde {
  color: #9DC08B;
}

.letra-laranja {
  color: #DF6D14;
}

.conteudo{
  position: absolute;
  left: 320px;
  width: 500px;
}

.botao-contate-agora{
  position: absolute;
  margin-top: 10px;
  left: 0;
  width: 180px;
  color: white;
  background-color: #DF6D14;
  z-index: 2;
}

.container-principal {
  display: flex;
  align-items: center; 
  gap: 10px;
  padding-top: 10%;
}

.container-foto {
  position: relative;
  width:  50%;
  height: 400px;
}

.foto-raquel{
  position: absolute;
  left: 900px;
  width: 350px;
  z-index: 2;
}

#texto-header {
  text-align: center;
  font-weight: bold;
}

#contorno-foto-1 {
  position: absolute;
  left: 920px;
  top: -20px;
  width: 350px;
  height: 390px;
  border: solid 1px #DF6D14;
  border-radius: 10px;
  z-index: 1;
}